<%- include('./partials/header') %>

    <div id="wrapper">
        <%- include('./partials/nav') %>
            <% if(err) {%>
                <div class="container col-md-6 col-xl-4 px-2 rounded-1">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <%=err %>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
                <% } %>
                    <div class="container bg-dark mt-3 col-md-6 col-xl-4 px-5 py-4 mb-5 my-5 rounded-5">
                        <div class="text-center fs-2 mb-5 m-3 text-light">Forgot password</div>


                        <form action="/forgotpassword" method="post">
                            <div class="form-floating my-4">
                                <input type="email" class="form-control" id="email" name="email"
                                    placeholder="email@gmail.com">
                                <label for="email">Email</label>
                            </div>

                            <div class="text-center my-4">
                                <button class="btn btn-primary mt-4 col-3" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>

                    <%- include('./partials/footer') %>