<%- include('./partials/header') %>



  <div id="wrapper">    

    <%- include('./partials/nav') %>
    
    <div class="container mb-5">
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active"  data-interval="1s">
            <img src="https://picsum.photos/1200/500" class="d-block w-100" alt="Food photo">
            <div class="carousel-caption d-none d-md-block ">
              <h5>First slide label</h5>
              <p>Some representative placeholder content for the second slide.</p>
            </div>
          </div>
          <div class="carousel-item"  data-interval="1s">
            <img src="https://picsum.photos/1200/500" class="d-block w-100 " alt="Food photo">
            <div class="carousel-caption d-none d-md-block">
              <h5>Second slide label</h5>
              <p>Some representative placeholder content for the second slide.</p>
            </div>
          </div>
          <div class="carousel-item" data-interval="1s">
            <img src="https://picsum.photos/1200/500" class="d-block w-100 " alt="Food photo">
            <div class="carousel-caption d-none d-md-block">
              <h5>Third slide label</h5>
              <p>Some representative placeholder content for the second slide.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <div class= "container">
         <p class="text py-4 mb-3 fs-3 text-center"> Let's find something tasty</p>          
    </div>


    <div class="container mb-5" >
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              Breakfast
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card h-100">
                    <img src="https://picsum.photos/200/100" class="card-img-top" alt="Food Photo" >
                    <div class="card-body">
                      <h5 class="card-title">FOOD_NAME</h5>
                      <p class="card-text">extra information about that food</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="https://picsum.photos/200/100" class="card-img-top" alt="Food Photo" >
                    <div class="card-body">
                      <h5 class="card-title">FOOD_NAME</h5>
                      <p class="card-text">extra information about that food</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="https://picsum.photos/200/100" class="card-img-top" alt="Food Photo" >
                    <div class="card-body">
                      <h5 class="card-title">FOOD_NAME</h5>
                      <p class="card-text">extra information about that food</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="https://picsum.photos/200/100" class="card-img-top" alt="Food Photo" >
                    <div class="card-body">
                      <h5 class="card-title">FOOD_NAME</h5>
                      <p class="card-text">extra information about that food</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Lunch
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card h-100">
                    <img src="https://picsum.photos/200/100" class="card-img-top" alt="Food Photo" >
                    <div class="card-body">
                      <h5 class="card-title">FOOD_NAME</h5>
                      <p class="card-text">extra information about that food</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="https://picsum.photos/200/100" class="card-img-top" alt="Food Photo" >
                    <div class="card-body">
                      <h5 class="card-title">FOOD_NAME</h5>
                      <p class="card-text">extra information about that food</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="https://picsum.photos/200/100" class="card-img-top" alt="Food Photo" >
                    <div class="card-body">
                      <h5 class="card-title">FOOD_NAME</h5>
                      <p class="card-text">extra information about that food</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="https://picsum.photos/200/100" class="card-img-top" alt="Food Photo" >
                    <div class="card-body">
                      <h5 class="card-title">FOOD_NAME</h5>
                      <p class="card-text">extra information about that food</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Dinner
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card h-100">
                    <img src="https://picsum.photos/200/100" class="card-img-top" alt="Food Photo" >
                    <div class="card-body">
                      <h5 class="card-title">FOOD_NAME</h5>
                      <p class="card-text">extra information about that food</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="https://picsum.photos/200/100" class="card-img-top" alt="Food Photo" >
                    <div class="card-body">
                      <h5 class="card-title">FOOD_NAME</h5>
                      <p class="card-text">extra information about that food</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="https://picsum.photos/200/100" class="card-img-top" alt="Food Photo" >
                    <div class="card-body">
                      <h5 class="card-title">FOOD_NAME</h5>
                      <p class="card-text">extra information about that food</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="https://picsum.photos/200/100" class="card-img-top" alt="Food Photo" >
                    <div class="card-body">
                      <h5 class="card-title">FOOD_NAME</h5>
                      <p class="card-text">extra information about that food</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('./partials/footer') %>
    