<%- include('./partials/header') %>


<div id="wrapper">
    <%- include('./partials/nav') %>

    <% if(err)  {%>
    <div class="container col-md-6 col-xl-4 px-2 rounded-1">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%=err %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
      <% } %>

    <div class="container bg-dark mt-3 col-md-6 col-xl-4 px-5 py-4 mb-5 rounded-5">
        <div class="text-center fs-2 mt-4 text-light">Login</div>
        <div class="text-center mb-5 text-light">Please Enter your username, password and Role</div>

        <form action="/login" method="post">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" name="username" placeholder="something">
                <label for="floatingInput">User name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <div class="form-floating mb-4">

                <select id="floatingSelect" class="form-select selectpicker" name="role" placeholder="Role" data-width="auto">
                    <option selected value="customer"> Customer </option>
                    <option selected value="cadet"> Cadet </option>
                    <option selected value="manager"> Manager </option>
                </select>
                <label for="floatingSelect">Role</label>
            </div>

            <div class="text-center">
                <a href="/forgotpassword" style="text-decoration:none;">Forgot password?</a>
            </div>
            <div class="text-center">
                <button class="btn btn-primary mt-4 col-3" type="submit">Login</button>
            </div>

            <div class="text-center fs-4 my-3 mt-5 text-light">Don't have an account? <a href="./signup"
                    style="text-decoration:none;">Register</a>
            </div>
        </form>
    </div>

    <%- include('./partials/footer') %>
    