<%- include('./partials/header') %>


<div id="wrapper">
    <%- include('./partials/nav') %>

    <% if(err)  {%>
        <div class="container col-md-6 col-xl-4 px-2 rounded-1">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <%=err %>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
          <% } %>

    <div class="container bg-dark mt-3 col-md-6 col-xl-6 px-5 py-4 mb-5 rounded-5">
        <div class="text-center fs-2 mt-4 text-light">SignUp</div>
        <div class="text-center mb-5 text-light">Provide the details mentioned.</div>

        <form action="/signup" method="post">

            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="fullname" name="fullname" placeholder="something" required>
                        <label for="fullname">Full name</label>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="username" name="username" placeholder="something" required>
                        <label for="username">User name</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="tel" class="form-control" id="phone-number" name="phone" placeholder="012345678"
                            pattern="[0-9]{10}" required>
                        <label for="phone-number">Phone number</label>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
                        <label for="email">Email</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-4">
                    <div class="form-floating mb-4">

                        <select id="role" class="form-select selectpicker" name="role" placeholder="Role" data-width="auto"
                            required>
                            <option selected value="customer"> Customer </option>
                            <option value="cadet"> Cadet </option>
                            <option value="manager"> Manager </option>
                        </select>
                        <label for="role">Role</label>
                    </div>
                </div>

                <div class="col-12 col-sm-4">
                    <div class="form-floating mb-3">
                        <select id="gender" class="form-select selectpicker" name="gender" placeholder="Gender" data-width="auto"
                            required>
                            <option selected value="male"> Male </option>
                            <option value="female"> Female </option>
                            <option value="other"> Other </option>
                        </select>
                        <label for="gender">Gender</label>
                    </div>
                </div>

                <div class="col-12 col-sm-4">
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" id="birthdate" name="birthdate" placeholder="name@example.com" required>
                        <label for="birthdate">birth date</label>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="password" name="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^\w\d\s:])([^\s]){6,16}" title="Must contain at least one number, one lowercase, one uppercase and one special character, and length should be between 6 to 16" placeholder="Password" required>
                        <label for="password">Password</label>
                    </div>
                </div>

                <div class="col-12 col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="confirmPassword" name="cpassword" placeholder="Password"
                            required>
                        <label for="confirmPassword">Confirm Password</label>
                    </div>
                </div>
            </div>


            <!-- <div class="text-center">
                <a href="#" style="text-decoration:none;">Forgot password?</a>
            </div> -->
            <div class="text-center">
                <button class="btn btn-primary mt-4 col-3" type="submit">Register</button>
            </div>

            <div class="text-center fs-4 my-3 mt-5 text-light">Already have an account? <a href="./login"
                    style="text-decoration:none;">Login</a>
            </div>
        </form>
    </div>



    <%- include('./partials/footer') %>
    