<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
  <link href="../css/style.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>

  <div id="wrapper">
    <div class="container sticky-top">
      <nav class="navbar navbar-expand-lg mb-4 mt-3">
        <div class="container-fluid">
          <a class="navbar-brand fs-3 text-dark" href="#">
            <img src="../photos/logo.png" alt="Bootstrap" width="70" height="70">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse fs-4" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="./home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./home">Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./faq">FAQ</a>
              </li>
            </ul>

            <div class="nav-link me-2 my-2">
              <a href="./login" class="btn btn-primary"> Login </a>
            </div>
            <div class="nav-link ">
              <a href="./signup" class="btn btn-primary"> Signup </a>
            </div>
          </div>
        </div>
      </nav>
    </div>


    <div class="container bg-dark mt-3 col-md-6 col-xl-6 px-5 py-4 mb-5 rounded-5">
      <div class="text-center fs-2 mt-4 text-light">SignUp</div>
      <div class="text-center mb-5 text-light">Provide the details mentioned.</div>

      <form action="" method="post">

        <div class="row">
          <div class="col-12 col-sm-6">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="fullname" name="fullname" placeholder="something" required>
              <label for="fullname">Full name</label>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="username" name="username" placeholder="something" required>
              <label for="username">User name</label>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-12 col-sm-6">
            <div class="form-floating mb-3">
              <input type="tel" class="form-control" id="phone-number" name="phone" placeholder="012345678" pattern="[0-9]{10}" required>
              <label for="phone-number">Phone number</label>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
              <label for="email">Email</label>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-12 col-sm-4">
            <div class="form-floating mb-4">

              <select id="role" class="form-select selectpicker" placeholder="Role" name="role" data-width="auto" required>
                <option selected value="customer"> customer </option>
                <option  value="cadet"> cadet </option>
                <option value="manager"> manager </option>
              </select>
              <label for="role">Role</label>
            </div>
          </div>

          <div class="col-12 col-sm-4">
            <div class="form-floating mb-3">
              <select id="gender" class="form-select selectpicker" placeholder="Gender" name="gender" data-width="auto" required>
                <option selected value="male"> Male </option>
                <option  value="female"> Female </option>
                <option value="other"> Other </option>
              </select>
              <label for="gender">Gender</label>
            </div>
          </div>

          <div class="col-12 col-sm-4">
            <div class="form-floating mb-3">
              <input type="date" class="form-control" id="birthdate" name="birthdate" placeholder="name@example.com" required>
              <label for="birthdate">birth date</label>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-12 col-sm-6">
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="password"  name="password" placeholder="Password" required>
              <label for="Password">Password</label>
            </div>
          </div>
          
          <div class="col-12 col-sm-6">
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="confirmPassword" name="cpassword" placeholder="Password" required>
              <label for="confirmPassword">Confirm Password</label>
            </div>
          </div>
        </div>


        
       
       

       
        <div class="text-center">
          <button class="btn btn-primary mt-4 col-3" type="submit">Sign Up</button>
        </div>

        <div class="text-center fs-4 my-3 mt-5 text-light">Already have an account? <a href="./login"
            style="text-decoration:none;">Login</a>
        </div>
      </form>
    </div>

    <div class="container-fluid">
      <!-- Footer -->
      <footer class="text-center text-lg-start bg-light text-muted">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
          <!-- Left -->
          <div class="me-5 d-none d-lg-block">
            <span>Reach us:</span>
          </div>
          <!-- Left -->

          <!-- Right -->
          <div>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-github"></i>
            </a>
          </div>
          <!-- Right -->
        </section>
        <!-- Section: Social media -->

        <!-- Section: Links  -->
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h6 class="text-uppercase fw-bold mb-4">
                  <i class="fas fa-gem me-3"></i>Company name
                </h6>
                <p>
                  The kitchen was in disarray, with flour, eggs, and sugar scattered across the countertops and floor.
                  Mixing bowls and utensils were piled up haphazardly, and the stovetop was covered in a sticky,
                  caramelized mess. Despite the chaos, the aroma of freshly baked cookies wafted through the air,
                  signaling the delicious payoff for the food mess.
                </p>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Visit Pages
                </h6>
                <p>
                  <a href="#!" class="text-reset">Login</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">SignIn</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Menu</a>
                </p>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Follow us on
                </h6>
                <p>
                  <a href="#!" class="text-reset">Instagram</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">YouTube</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Facebook</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">LinkedIn</a>
                </p>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                <p><i class="fas fa-home me-3"></i> Gandhinagar, Gujarat, India</p>
                <p>
                  <i class="fas fa-envelope me-3"></i>
                  daiict_mess@gmail.com
                </p>
                <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2021 Copyright:
          <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Find_meal.com</a>
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->
    </div>


  </div>

</body>

</html>