<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/css/home_css.css">
</head>
<body>
    <div class="main">
        <div class="navbar">
            <img src="/photos/logo.png" class="logo">
            <ul>
                <li><a href="./home">Home</a></li>
                <li><a href="#"> About us</a></li>
                <li><a href="./signup">SignUP</a></li>
                <li><a href="./login">Login</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </div>

        <div class="content">
            <h1>get started</h1>
            <p>Register yourself for more information and features.</p>
            <div class="btn">
                <a href="./signup"><button type="button"><span></span>Register</button></a>
                <a href="./login"><button type="button"><span></span>Login</button></a>
            </div>
        </div>
    </div>
</body>
</html>