<%- include('../partials/header_customer') %>

    <div id="wrapper">
        <%- include('../partials/nav_home_customer') %>
        <div class="container">
            <div class="row  border rounded-5 p-lg-5 p-sm-5 p-md-2 m-lg-5">
                <div class="col d-flex" style="flex-flow: column;">
                    <div class="fs-3 text-center mb-5 mt-sm-3"> About Us</div>
                    <div class="row align-middle border rounded-3 p-sm-4 p-md-4 m-2 mb-5" style="flex-grow: 1;">
                        <div class="col-12 m-3 fs-3">
                            Our Mission
                        </div>

                        <div class="col-12 col-lg-7 d-flex align-items-center pe-lg-5">
                            Our mission is to revolutionize the way that mess management is handled in central
                            locations.We understand the importance of a well-organized and efficient system when it
                            comes to feeding large groups of people, whether it's in a workplace, school, or any other
                            centralized location.By offering a comprehensive, easy-to-use central mess management
                            system, we
                            aim to streamline the process and improve the overall experience for both those in charge of
                            the operation and those who rely on it for sustenance.
                        </div>
                        <div class="col-12 col-lg-5  d-flex align-items-center  ps-lg-5  my-4">
                            <img src="./mission.jpg" alt="food image" width="100%" class="rounded">
                        </div>
                    </div>


                    <div class="row align-middle border rounded-3 p-sm-4 p-md-4 m-2 mb-5" style="flex-grow: 1;">
                        <div class="col-12 m-3 fs-3">
                            Our Story
                        </div>

                        <div class="col-12 col-lg-7 d-flex align-items-center pe-lg-5">
                            A group of ambitious college students found themselves struggling with the often chaotic and
                            confusing mess management systems on their campus. Frustrated with the lack of organization
                            and efficiency, they decided to take matters into their own hands and create a solution.
                            Late nights and countless cups of coffee later, they had developed a comprehensive central
                            mess management system that simplified the entire process for students and staff alike. From
                            that moment on, their passion for helping others and their love for delicious, well-prepared
                            meals drove them forward to refine and perfect their creation. And now, many years later,
                            their app has become a beloved staple on campuses and in centralized locations all over,
                            revolutionizing the way that mess management is handled.
                        </div>
                        <div class="col-12 col-lg-5  d-flex align-items-center  ps-lg-5  my-4">
                            <img src="./mission.jpg" alt="food image" width="100%" class="rounded">
                        </div>
                    </div>

                    <div class="row align-middle border rounded-3 p-sm-4 p-md-4 m-2 mb-5" style="flex-grow: 1;">
                        <div class="col-12 m-3 fs-3">
                            Our Service
                        </div>

                        <div class="col-12 col-lg-7 d-flex align-items-center pe-lg-5">
                            We are proud to offer a comprehensive, user-friendly central mess management system that
                            streamlines the process of feeding large groups of people. Our service includes a range of
                            features designed to simplify the management of everything from meal planning and ordering
                            to inventory. With our platform, users can easily see menus, edit profile,
                            manage payments, and more, all in one centralized location. Our system is
                            customizable to meet the unique needs of each client, ensuring that everyone gets the
                            support and solutions they need to make their mess management process as smooth and
                            stress-free as possible. we are committed to providing exceptional
                            service and support to each and every one of our clients, helping them save time, money, and
                            energy while ensuring that everyone is well-fed and satisfied.
                        </div>
                        <div class="col-12 col-lg-5  d-flex align-items-center  ps-lg-5  my-4">
                            <img src="./mission.jpg" alt="food image" width="100%" class="rounded">
                        </div>
                    </div>

                    <div class="row align-middle border rounded-3 p-sm-4 p-md-4 m-2 mb-5" style="flex-grow: 1;">
                        <div class="col-12 m-3 fs-3">
                            Our Social Proof
                        </div>

                        <div class="col-12 col-lg-7 d-flex align-items-center pe-lg-5">
                            We are proud to have received positive feedback and support from our clients and users. Our
                            central mess management system has been praised for its intuitive design, ease of use, and
                            effectiveness in streamlining the mess management process. We have received numerous
                            testimonials from satisfied customers who have seen significant improvements in their mess
                            management operations since implementing our system. Additionally, our platform has received
                            recognition and awards from industry experts and organizations, further validating the
                            effectiveness of our service. We are honored to have earned the trust and confidence of so
                            many clients and users, and we are committed to continuing to deliver exceptional service
                            and support to everyone who uses our platform.
                        </div>
                        <div class="col-12 col-lg-5  d-flex align-items-center  ps-lg-5  my-4">
                            <img src="./mission.jpg" alt="food image" width="100%" class="rounded">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('../partials/footer') %>