<%- include('../partials/header') %>

    <div id="wrapper">
        <%- include('../partials/nav_home_customer') %>

            <div class="container">
                <div class="row  border rounded-5 p-lg-5 p-sm-5 p-md-2 m-lg-5">
                    <div class="col d-flex" style="flex-flow: column;">
                        <div class="fs-3 text-center mb-5 mt-sm-3"> FAQ</div>
                        <div class="row align-middle border rounded-3 p-sm-4 p-md-4 m-2 mb-4" style="flex-grow: 1;">
                            <div class="col-12 mb-2 fs-3">
                                What is a central mess management system?
                            </div>

                            <div class="col-12 d-flex align-items-center pe-lg-5">
                                A central mess management system is a software system that manages and streamlines the
                                operations of a mess or cafeteria. It helps in managing the customers, view menu,
                                payments, and
                                other related tasks.
                            </div>
                        </div>

                        <div class="row align-middle border rounded-3 p-sm-4 p-md-4 m-2 mb-4" style="flex-grow: 1;">
                            <div class="col-12 mb-2 fs-3">
                                Who can use the central mess management system?
                            </div>

                            <div class="col-12 d-flex align-items-center pe-lg-5">
                                The central mess management system can be used by customers, cadets, and managers.
                            </div>
                        </div>

                        <div class="row align-middle border rounded-3 p-sm-4 p-md-4 m-2 mb-4" style="flex-grow: 1;">
                            <div class="col-12 mb-2 fs-3">
                                How to start the mess service as a customer?
                            </div>

                            <div class="col-12 d-flex align-items-center pe-lg-5">
                                As a customer you can signup in our website and verify your account. After completion of
                                the
                                login details, you have to make a payment to the manager and after successfully updation
                                of your
                                payment by manager, you can enjoy the mess service.
                            </div>
                        </div>

                        <div class="row align-middle border rounded-3 p-sm-4 p-md-4 m-2 mb-4" style="flex-grow: 1;">
                            <div class="col-12 mb-2 fs-3">
                                How do I provide feedback using the central mess management system?
                            </div>

                            <div class="col-12 d-flex align-items-center pe-lg-5">
                                you can provide feedback about their order using the central mess management
                                system by rating the food, delivery, and overall experience.
                            </div>
                        </div>

                        <div class="row align-middle border rounded-3 p-sm-4 p-md-4 m-2 mb-4" style="flex-grow: 1;">
                            <div class="col-12 mb-2 fs-3">
                                Can I view the menu without creating an account?
                            </div>

                            <div class="col-12 d-flex align-items-center pe-lg-5">
                                Yes, you can view the everyday menu at the home page without login.
                            </div>
                        </div>

                        <div class="row align-middle border rounded-3 p-sm-4 p-md-4 m-2 mb-4" style="flex-grow: 1;">
                            <div class="col-12 mb-2 fs-3">
                                How to join the service as a new user?
                            </div>

                            <div class="col-12 d-flex align-items-center pe-lg-5">
                                As a new user you can signup in our website and verify your account. After completion of
                                the
                                signup, you have to make a payment to the manager and after successfully updation
                                of your
                                payment by manager, you can enjoy the mess service.
                            </div>
                        </div>

                        <div class="row align-middle border rounded-3 p-sm-4 p-md-4 m-2 mb-4" style="flex-grow: 1;">
                            <div class="col-12 mb-2 fs-3">
                                Do mess provide non-veg food?
                            </div>

                            <div class="col-12 d-flex align-items-center pe-lg-5">
                                No, We do not provide non-veg food.
                            </div>
                        </div>

                        <div class="row align-middle border rounded-3 p-sm-4 p-md-4 m-2 mb-4" style="flex-grow: 1;">
                            <div class="col-12 mb-2 fs-3">
                                Is the central mess management system secure?
                            </div>

                            <div class="col-12 d-flex align-items-center pe-lg-5">
                                Yes, the central mess management system is secure and ensures the safety and privacy of
                                customer data and transactions.
                            </div>
                        </div>

                    </div>
                </div>  
            </div>
            <%- include('../partials/footer') %>