<%- include('../partials/header_cadet') %>

    <div id="wrapper">
        <%- include('../partials/nav_home_cadet') %>

        <div class="container">
            <div class="row  border rounded-5 p-lg-5 p-sm-5 p-md-2 m-lg-5">
                <div class="col d-flex" style="flex-flow: column;">
                    <div class="fs-3 text-center mb-5 mt-sm-3"> FAQ</div>
                    <div class="row align-middle border rounded-3 p-sm-4 p-md-4 m-2 mb-5" style="flex-grow: 1;">
                        <div class="col-12 mb-2 fs-3">
                            Here is the first Question?
                        </div>

                        <div class="col-12 d-flex align-items-center pe-lg-5">
                            Our mission is to revolutionize the way that mess management is handled in central
                            locations.We understand the importance of a well-organized and efficient system when it
                            comes to feeding large groups of people, whether it's in a workplace, school, or any other
                            centralized location.By offering a comprehensive, easy-to-use central mess management
                            system, we
                            aim to streamline the process and improve the overall experience for both those in charge of
                            the operation and those who rely on it for sustenance.
                        </div>
                    </div>

                    <div class="row align-middle border rounded-3 p-sm-4 p-md-4 m-2 mb-5" style="flex-grow: 1;">
                        <div class="col-12 mb-2 fs-3">
                            Here is the first Question?
                        </div>

                        <div class="col-12 d-flex align-items-center pe-lg-5">
                            Our mission is to revolutionize the way that mess management is handled in central
                            locations.We understand the importance of a well-organized and efficient system when it
                            comes to feeding large groups of people, whether it's in a workplace, school, or any other
                            centralized location.By offering a comprehensive, easy-to-use central mess management
                            system, we
                            aim to streamline the process and improve the overall experience for both those in charge of
                            the operation and those who rely on it for sustenance.
                        </div>
                    </div>

                    <div class="row align-middle border rounded-3 p-sm-4 p-md-4 m-2 mb-5" style="flex-grow: 1;">
                        <div class="col-12 mb-2 fs-3">
                            Here is the first Question?
                        </div>

                        <div class="col-12 d-flex align-items-center pe-lg-5">
                            Our mission is to revolutionize the way that mess management is handled in central
                            locations.We understand the importance of a well-organized and efficient system when it
                            comes to feeding large groups of people, whether it's in a workplace, school, or any other
                            centralized location.By offering a comprehensive, easy-to-use central mess management
                            system, we
                            aim to streamline the process and improve the overall experience for both those in charge of
                            the operation and those who rely on it for sustenance.
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <%- include('../partials/footer') %>