<div class="container sticky-top">
    <nav class="navbar navbar-expand-lg mb-4 mt-3">
        <div class="container-fluid">
            <a class="navbar-brand fs-3 text-dark" href="../home">
                <img src="../../photos/logo.png" alt="Bootstrap" width="70" height="70">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse fs-4" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="./home">Home</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="./about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./faq">FAQ</a>
                    </li>
                </ul>

                <div class="nav-link me-2 my-2">
                    <form action = "/home" method="post">
                        <button class="btn btn-primary" type="submit">Logout</button>                        
                    </form>
                </div>
            </div>
        </div>
    </nav>
</div>